@font-face {
    font-family: "italianno-regular";
    src: url("../fonts/Italianno-Regular.ttf");
}

@font-face {
    font-family: "italiana-regular";
    src: url("../fonts/Italiana-Regular.ttf");
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "italiana-regular";
}

ul {
    list-style-type: none;
}

.active {
    border-bottom: 2px solid #fff;
    padding-bottom: 3px;
}

.restaurant-name {
    font-family: "italianno-regular";
    text-transform: uppercase;
    font-size: 2.5rem;
}

.header {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 5rem;
}

.tabs {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.tabs li {
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    transition: transform 0.15s;
}

.tabs li:hover {
    transform: translateY(-2px);
}