@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Roboto Slab", serif;
  font-size: 1.15rem;
  background-color: #000;
  color: #fff;
  letter-spacing: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

.active {
  border-bottom: 2px solid #ff4242;
  padding-bottom: 3px;
}

#content {
  margin: 5rem;
}
